@{
    ViewData["Title"] = "Home Page";
}
<header>
<div>
    <h6>The two most highly rated pets today are:</h6>
</div>
</header>
<article>
    <section>
        <table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Number Of Comments</th>
  </tr>
  <tr>
    <td></td>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
  </tr>
  <tr >
    <td></td>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
  </tr>
</table>
    </section>
</article>